body {
    background-color: #f9f9f9;
    box-shadow: 0 0 5px 2px #dbdbdb;
    width: 1350px;
    margin: auto;
}

.whole {
    background-color: white;
    border: 2px #706969;
}

.logo {
    margin: 50px;
    margin-bottom: 30px;
    word-spacing: lenght 50px;
}

.panel-up {
    margin-left: 50px;
    color: white;
    background: -webkit-linear-gradient(top, #949494 1%, #696969 51%, #696969 70%);
    width: 1200px;
    height: 50px;
}

.panel-up li {
    float: left;
    width: 150px;
    height: inherit;
    text-decoration: none;
    list-style: none;
}

.panel-up li a {
    text-align: center;
    text-shadow: 1px 1px 2px black;
    display: block;
    margin: 20px 0 0 0;
    color: white;
}

.panel-left {
    margin: 22px 0px 10px 50px;
    list-style-type: none;
    width: 300px;
    padding: 0px;
}

.photo {
    float: right;
    border: solid 1px #c8c8c8;
    padding-left: 130px;
    padding-right: 130px;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-right: 150px;
}

.panel-left li {
    border: solid 1px #c8c8c8;
    width: inherit;
    height: 50px;
    margin-top: -1px;
}

.panel-left li a {
    margin-left: 10px;
    color: gray;
    display: block;
    margin-top: 20px;
    text-decoration: none;
}

.panel-left li:hover {
    background-color: #c8c8c8;
    background-clip: border-box;
}

.panel-left a:hover {
    padding-left: 20px;
    color: black;
}

.text {
    float: right;
    margin-left: 35%;
    margin-right: 15%;
    margin-top: 70px;
    margin-bottom: 30px;
}

.panel-down {
    background: #949494;
    width: 1250px;
    height: 30px;
    padding-top: 20px;
    clear: both;
    margin-left: 50px;
}

.panel-down a {
    padding-left: 50px;
    padding-right: 50px;
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.right {
    float: right;
}

.button:hover {
    color: white;
    background: linear-gradient(to bottom, #484848 50%, #666666 100%, #747474 50%);
    width: 150px;
    height: 30px;
    margin-top: auto;
    padding-top: 20px;
    text-decoration: none;
}